<h1>Hello ClientApplication</h1>
<div>
    <button type="button" th:attr="onclick=|window.location.href='${useAccessTokenStrategyUri}';|">
        <h1>Use AccessToken strategy</h1>
    </button>
    .............
    <button type="button" th:attr="onclick=|window.location.href='${useRefreshAndAccessTokensPairStrategyUri}';|">
        <h1>Use RefreshAndAccessTokensPair strategy</h1>
    </button>
</div>
<div>
    <h1 th:text="|access token value: ${token}|"></h1>
    <h1 th:text="|state: ${state}|"></h1>
    <h1 th:text="|scope: ${scope}|"></h1>
    <h1 th:text="|tokenStrategy: ${tokenStrategy}|"></h1>
</div>
<div>
    <button type="button" th:attr="onclick=|window.location.href='${getAuthEndpointUri}';|">
        <h1>Sign in via GipHub</h1>
    </button>
    .............
    <button type="button" th:attr="onclick=|window.location.href='${askForProtectedResourceUri}';|">
        <h1>Get protected resource</h1>
    </button>
</div>
</br>
</br>
</br>
<div>
    <div>
        <form th:action="${getWordsUri}">
            <button type="submit">
                <h1>read words</h1>
            </button>
        </form>
    </div>
    .............
    <div>
        <form method="POST" th:action="${addWordUri}">
            <button type="submit">
                <h1>add word</h1>
            </button>
            <input name="newWord" type="text" placeholder="new word">
        </form>
    </div>
    .............
    <div>
        <form method="DELETE" th:action="${removeWordUri}">
            <button type="submit">
                <h1>delete word</h1>
            </button>
            <input type="text" placeholder="word to delete">
        </form>
    </div>
</div>
