AUTHORIZATION_SERVER_APP_NAME=authorization_server
AUTHORIZATION_SERVER_EXTERNAL_PORT=1938
AUTHORIZATION_SERVER_INTERNAL_PORT=8081

CLIENT_APP_NAME=client
CLIENT_EXTERNAL_PORT=1939
CLIENT_INTERNAL_PORT=8082

PROTECTED_RESOURCE_APP_NAME=protected_resource
PROTECTED_RESOURCE_EXTERNAL_PORT=1940
PROTECTED_RESOURCE_INTERNAL_PORT=8083

POSTGRES_DB=oauth_2_0_learning
POSTGRES_CONNECTION_URI=jdbc:postgresql://postgres:5432/oauth_2_0_learning
POSTGRES_USER=root
POSTGRES_PASSWORD=password

SPRING_PROFILES_ACTIVE=dev

SPRING_DATA_REDIS_HOST=redis
SPRING_DATA_REDIS_PORT=6379
SPRING_DATA_REDIS_PASSWORD=password